@import "fonts";
@import "common";
@import "media";
@import "mixins";
@import "variables";

.posts-block.__blog-page {
  padding-top: 8%;
}

.posts-block-row {
  display: flex;
  justify-content: flex-start;
  //margin-bottom: 8%;

  @media (max-width: 767px) {
    flex-direction: column;

    &:not(:first-child) {
      display: none;
    }
  }
}

.section-text-wrapper.__blog-page {
  display: flex;
  align-items: center;

  .select-selected {
    &:after {
      right: 14px;
    }

    &:before {
      right: 38px;
      height: 65%;
    }
  }


  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.section-main-title.__blog-page {
  margin-right: 4%;
  @media (max-width: 991px) {
    margin-bottom: 25px;
  }
}


.custom-select.__blog-page {
  width: 300px;

  @media (max-width: 991px) {
    width: 100%;
    max-width: 295px;
    margin-bottom: 25px;
    margin-right: 0;
  }
}

.item-article.__section-posts.__blog-page {
  picture {
    width: 100%;

    img {
      width: 100%;
    }
  }
  @media (max-width: 991px) {
    flex-direction: column;
  }
}

.section-content-list__item.__section-posts.__blog-page {
  margin-right: 7.5%;
  margin-bottom: 5%;

  @media (max-width: 767px) {
    margin-right: 0;
  }
}


.section-content-list__item.__section-posts.__blog-page.__blog-page--big {
  //width: 100%;

  //.item-article.__section-posts {
  //  picture {
  //    width: 100%;
  //
  //    img {
  //      width: 100%;
  //      height: 100%;
  //      object-fit: cover;
  //    }
  //  }
  //}
}

.section-main.section-contact.__blog-page {
  @media (min-width: 992px) {
    background-image: url("../images/contact-us-faq-page-bg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
  }
}