@import "fonts";
@import "common";
@import "media";
@import "mixins";
@import "variables";



.section-text-wrapper.__faq-page {
  display: flex;
  align-items: center;
  margin-bottom: 4%;

  .select-selected {
    &:after {
      right: 14px;
    }

    &:before {
      right: 38px;
      height: 65%;
    }
  }



  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.section-main-title.__faq-page {
  margin-right: 3%;

  @media (max-width: 991px) {
    margin-bottom: 15px;
  }
}


.custom-select.__faq-page {
  width: 100%;
  max-width: 295px;
  margin-bottom: 30px;
}

.section-main.section-faq.__faq-page{

  @media (min-width: 992px) {
    background-image: url("../images/bg-faq-page-1.svg"),url("../images/client-stories-bg-2.svg");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: top center, bottom center;
  }


  @media (max-width: 991px) {
    background-image: url(../images/fs-mobile-top-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
  }


}

.section-main.section-contact.__faq-page-bg {
  background-image: url("../images/contact-us-faq-page-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}