@import "variables";



//@mixin main-btn {
  //text-decoration: none;
  //display: inline-block;
  //vertical-align: middle;
  //text-align: center;
  //overflow-wrap: break-word;
  //font-weight: bold;
  //cursor: pointer;
  //border: none;
  //position: relative;
  //transition: $transition;
  //background-color: transparent;
  //
  //&:before {
  //  content: '';
  //  position: absolute;
  //  bottom: 0;
  //  width: 100%;
  //  height: 2px;
  //  background-color: black;
  //}
//}




@mixin main-btn {
  //@include font-main-bold;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow-wrap: break-word;
  //font-family: inherit;
  font-size: 14px;
  //letter-spacing: 0.03em;
  //font-weight: bold;
  cursor: pointer;
  line-height: 17px;
  color: $color-btn;
  @include font-main-extrabold;
  width: 100%;
  max-width: 300px;
  border: none;
  padding: 1.3em 30px;
  text-transform: uppercase;
  //padding-top: 1.2em; // чтобы менялось пропорционально относительно шрифта
  //padding-bottom: 1.2em; // чтобы менялось пропорционально относительно шрифта
  transition: $transition;
  border-radius: 7px;

  @media (max-width: 991px) {
    max-width: 279px;
  }

  @media (max-width: 767px) {
    @include font-main-bold;
  }
  //border-radius: .7em; // чтобы менялось пропорционально относительно шрифта
}


@mixin gradient-text-color {
  -webkit-background-clip: text;
  /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent;
}

//@mixin font-main {
//  font-family: 'Jost', sans-serif;
//}

//@mixin font-secondary {
//  font-family: 'Source Serif Pro', serif;
//}


@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
  $f-min: strip-unit($f-min);
  $f-max: strip-unit($f-max);
  $w-min: strip-unit($w-min);
  $w-max: strip-unit($w-max);

  $k: ($f-max - $f-min)/($w-max - $w-min);
  $b: $f-min - $k * $w-min;

  $b: $b + $units;

  @return calc( #{$k} * 100vw + #{$b} );
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {

  font-size: $f-min;

  @media (min-width: $w-min) {
    @if ($fallback) {
      font-size: $fallback;
    }
    font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
    font-size: $f-max;
  }
}




@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function calcFluidLineHeight($f-min, $f-max, $w-min, $w-max, $units: px) {
  $f-min: strip-unit($f-min);
  $f-max: strip-unit($f-max);
  $w-min: strip-unit($w-min);
  $w-max: strip-unit($w-max);

  $k: ($f-max - $f-min)/($w-max - $w-min);
  $b: $f-min - $k * $w-min;

  $b: $b + $units;

  @return calc( #{$k} * 100vw + #{$b} );
}

@mixin fluidLineHeight($f-min, $f-max, $w-min, $w-max, $fallback: false) {

  line-height: $f-min;

  @media (min-width: $w-min) {
    @if ($fallback) {
      line-height: $fallback;
    }
    line-height: calcFluidLineHeight($f-min, $f-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
    line-height: $f-max;
  }
}


.fluid-font-size {
  @include fluidFontSize(24px, 36px, 320px, 1440px, 18px);
}

.fluid-line-height {
  @include fluidLineHeight(35px, 52px, 320px, 1440px, 18px);
}



@mixin font-main-light {
  font-family: 'Gilroy-Light', sans-serif;
}

@mixin font-main-regular {
  font-family: 'Gilroy-Regular', sans-serif;
}

@mixin font-main-medium {
  font-family: 'Gilroy-Medium', sans-serif;
}

@mixin font-main-bold {
  font-family: 'Gilroy-Bold', sans-serif;
}

@mixin font-main-extrabold {
  font-family: 'Gilroy-ExtraBold', sans-serif;
}


@mixin font-color-main {
  background: linear-gradient(94.49deg, #963298 -9.95%, #4A154B 98.19%);
  -webkit-background-clip: text;
  /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent;
  /* Прозрачный текст */
}

@mixin font-color-secondary {
  background: linear-gradient(100.11deg, #FED337 5.96%, #ECB22E 102.06%);
  -webkit-background-clip: text;
  /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent;
  /* Прозрачный текст */
}

@mixin font-color-third {
  background: linear-gradient(95.97deg, #00BCF8 -18.02%, #015BA2 125.14%);
  -webkit-background-clip: text;
  /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent;
  /* Прозрачный текст */
}