@import "fonts";
@import "common";
@import "media";
@import "mixins";
@import "variables";

.bg-section.__our-contacts-page {


  @media (min-width: 992px) {
    //background-image: url("../images/our-contacts-bg.png");
    //background-repeat: no-repeat;
    //background-size: 100%;
    //background-position: top;
    //background-color: white;


    //  background-image: url("../images/our-contacts-bg-final.png");
    //  background-repeat: no-repeat;
    //  background-size: 100%;
    //  background-position: top center;
  }
}


.contact-info.__our-contacts-page {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.social-list__list.__our-contacts-page {
  flex-direction: column;
}

.section-inner.__our-contacts-page {
  flex-direction: column;
  padding-bottom: 2%;

  @media (max-width: 991px) {
    width: 88%;
    margin: 0 auto;
  }
}

.section-main__content-wrap.__our-contacts-page {
  flex-direction: column;
  

}

.contact-info__contacts.__our-contacts-page {
  margin-top: 4.7%;
  width: 100%;
  max-width: 516px;
  margin-right: 5%;

  @media (max-width: 767px) {
    order: 2;
  }
  //padding-left: 4%;
}

.our-contacts-page-icon {
  margin-right: 4%;
}

.wrapper.__our-contacts-page_icon {
  //flex-direction: column;
  align-items: flex-start;
}



.fa-desktop {
  color: #963298;

}

.picture.__our-contacts-page_icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3%;

  svg,
  img {
    width: 100%;
    height: auto;
  }
}

.wrapper.__our-contacts-page-info {
  margin-bottom: 6%;

  @media (max-width: 991px) {
    margin-bottom: 28px;
  }
}

.wrapper.__our-contacts-page--address {
  //margin-bottom: 10%;
}

.contact-info__text {
  @include fluidFontSize(16px, 22px, 320px, 1440px, 18px);
  @include fluidLineHeight(22px, 28px, 320px, 1440px, 18px);
}

.wrapper.__our-contacts-page-info-address {
  margin-bottom: 12%;
}

.wrapper.__our-contacts-page--qr {
  width: 100%;
  max-width: 388px;
  justify-content: space-between;
  position: relative;

  @media (max-width: 991px) {
    //order: 1;
    //justify-content: flex-start;
    margin-bottom: 55px;
    max-width: 100%;
  }

  @media (max-width: 767px) {
    order: 1;
  }
}

.picture.__our-contacts-page--qr {
  position: absolute;
  bottom: -5%;
  left: -54%;
  z-index: 5;

  @media (max-width: 1199px) {
    bottom: -7%;
    left: -25%;
    z-index: 5;

    img {
      width: 70%;
    }
  }

  @media (max-width: 991px) {
    bottom: 3%;
    left: -8%;
    z-index: 0;

    img {
      width: 70%;
    }
  }

  @media (max-width: 767px) {
    bottom: -16%;
    left: -1%;
    //z-index: -1;
  }
}

.social-list__item.__our-contacts-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: auto;
  margin-bottom: 81%;

  #fb-contact-icon {
    width: 93%;
  }

  #inst-contact-icon {
    width: 90%;
  }

  
  @media (max-width: 991px) {
    //width: 100%;
    //height: 100%;
    height: 35px;
    width: 35px;
    margin-bottom: 13px;
  }


}

.social-list__link.__our-contacts-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
  }
}

.hashtag-text {
  @include font-color-third;
  @include fluidFontSize(13px, 34px, 320px, 1440px, 18px);
  @include fluidLineHeight(19px, 48px, 320px, 1440px, 18px);
  @include font-main-extrabold;
}

.qr-img {
  width: 100%;

  @media (max-width: 991px) {
    width: 72%;
  }
}

.social-list.__our-contacts-page {
  //@media (max-width: 991px) {
  //  width: 50%;
  //}
}

.qr-img-wrapper {
  //width: 39%;
  width: 100%;
  max-width: 303px;
}

.wrapper.__our-contacts-page {
  margin-bottom: 30px;
}

.social-list.__our-contacts-page {

  @media (max-width: 991px) {
    margin-right: 33%;

  }
}

.contact-number--light.__section-contact.__our-contacts-page {
  font-size: 20px;
  line-height: 28px;
}

.contact-email.__our-contacts-page {
  font-size: 20px;
  line-height: 28px;
}

.section-contact-info.__section-contact.__our-contacts-page {
  @media (min-width: 992px) {
    display: none;
  }
}

.section-main.__our-contacts-page {
  //padding-bottom: 5%;
  //background-image: url("../images/our-contacts-bg.png");
  //background-repeat: no-repeat;
  //background-size: 100% 100%;
  //background-position: top center;

  @media (min-width: 992px) {
  //  background-image: url("../images/our-contacts-bg-final.png");
  //  background-repeat: no-repeat;
  //  background-size: 100%;
  //  background-position: top center;
      background-color: white;

  }

    @media (max-width: 991px) {
      background-image: url("../images/fs-mobile-top-bg.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top center;
    }
}

.picture.__our-contacts-page_icon.__mark-icon {
  width: 24px;
  height: 24px;
  margin-right: 4%;
}

.section-main.section-contact.__our-contacts-page {
  //background-image: url("../images/our-contacts-bg.png");
  //background-repeat: no-repeat;
  //background-size: 100% 100%;
  //background-position: top center;
}

.section-inner.__section-contact.__our-contacts-page {
  padding-top: 8%;
}