@import "fonts";
@import "common";
@import "media";
@import "mixins";
@import "variables";

.section-main.section-services-page {

  @media (min-width: 992px) {
    background-image: url("../images/our-services-page-bg-1.png"), url("../images/our-services-page-bg-2.png");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: top center, bottom center;
  }
  @media (max-width: 991px) {
    background-image: url("../images/fs-mobile-top-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    background-color: white;
  }

}


.section-main.section-stories.__section-services-page {

  @media (min-width: 992px) {
    background-image: url("../images/clients-stories-main-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
  }

  @media (max-width: 991px) {
    background-image: url(../images/client-stories-mobile-bg-top.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
  }
}

.section-inner.__section-services-page {

  //@media (min-width: 768px) and (max-width: 991px) {
  //  width: 80%;
  //  margin: 0 auto;
  //
  //}

  @media (max-width: 991px) {
    width: 88%;
    margin: 0 auto;
  }
}

.section-main__content-wrap.__section-services-page {
  flex-direction: column;
}

.section-content-list.__section-services-page {
  flex-direction: column;
}


.section-content-list__item.__section-services-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6.5%;

  &:nth-child(even) {
    flex-direction: row-reverse;

    @media (max-width: 991px) {
      flex-direction: column-reverse;
      margin-bottom: 55px;

    }

    .section-content__item.__section-services-page {
      width: 100%;
      max-width: 700px;
      padding-left: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
        padding-left: 0;
      }
    }
  }

  @media (max-width: 991px) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 55px;
  }
}

.item-text__list.__section-services-page {
  flex-direction: column;
}

.item-text__item.__section-services-page {
  position: relative;

  p {
    text-indent: 15px;
  }

  &:before {
    content: '';
    background-image: url("../images/list-type-icon.svg");
    width: 10px;
    height: 10px;
    z-index: 1;
    position: absolute;
    top: 0.4em;
  }
}


.section-main-title.__section-services-page {
  margin-bottom: 2%;
}

.section-main-text.__section-services-page {
  padding-left: 4%;
  width: 100%;
  max-width: 750px;
  margin-bottom: 5.4%;

  @media (max-width: 991px) {
    margin-bottom: 61px;
    padding-left: 0;
  }
}

.section-content__item.__section-services-page {
  width: 100%;
  max-width: 699px;

}

.section-content-item__picture.__section-services-page {
  width: 44%;
  img {
    width: 100%;

    @media (max-width: 991px) {
      width: 280px;
      height: 100%;
    }
  }

  @media (max-width: 991px) {
    width: 100%;
    margin-bottom: 74px;

    display: flex;
    justify-content: center;
  }
}

.item-title.__section-services-page {
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 5px;
}

.section-content-item__picture.__section-services-page.img-5 {
  width: auto;
}

.section-main.section-fact.__section-services-page {
  background-color: white;
}