@import "fonts";
@import "common";
@import "media";
@import "mixins";
@import "variables";


.section-main.__stories-page {

  @media (min-width: 992px) {
    background-image: url("../images/client-stories-page-bg.svg"), url("../images/client-stories-bg-2.svg");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: top center, bottom center;
  }

  @media (max-width: 991px) {
    background-image: url("../images/fs-mobile-top-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
  }

}

.section-inner.__stories-page {
  flex-direction: column;
  padding-top: 1.5%;
  z-index: 10;
  position: relative;

  @media (max-width: 991px) {
    width: 88%;
    margin: 0 auto;
  }
}

.bg-section.__stories-page {
  position: relative;
  overflow-x: hidden;
}

.section-text-wrapper.__stories-page {
  @media (max-width: 991px) {
    margin-bottom: 23px;

  }
}



.picture.__stories-page--mobile {
  //position: absolute;
  //right: 3.5%;
  //top: 14.5%;
  //z-index: 1;
  //display: flex;
  //justify-content: center;
  //margin-bottom: 2.4%;

  @media (min-width: 992px) {
    display: none;
  }

  @media (max-width: 991px) {
    //position: relative;
    //right: 0;
    //top: 1%;
    //width: 82%;
    //margin: 0 auto;
    //order: 2;
    width: 100%;

    margin-bottom: 9px;
    max-width: 454px;
    align-self: center;

    img {
      width: 100%;
    }
  }




}

.read-more.__stories-page {

  @media (max-width: 991px) {
    justify-content: flex-start;

    .read-more__img {
      padding-left: 13%;
    }
  }

}



.picture.__stories-page {
  position: absolute;
  // top: 40%;
  // right: 0;
  // width: 34%;
  top: 50%;
    transform: translateY(-50%);
    right: -100px;
    width: 43%;
  z-index: 0;
  
  @media (max-width: 991px) {
    display: none;
  }

  img {
    width: 100%;
  }

}

.section-main__content-wrap.__stories-page {
  flex-direction: column;
}


.section-main.section-contact.__stories-page-bg {
  background-color: #FFFFFF;
}

.picture.__section-contact.__stories-page-bg {
  z-index: 0;
  
  @media (min-width: 768px) and (max-width: 991px) {
    right: 22px;
  }
}

.stories-block.__stories-page {
  margin-bottom: 5%;
  
  @media (max-width: 1199px) {
    padding-left: 0;
  }
}


.navigation.pagination.__stories-page {
  margin-bottom: 2%;
}
