$transition: .5s;
$color-main: #424242;
//$color-footer: #141A20;
//$color-footer-secondary: #171819;
$color-footer: #FFFFFF;
$margin-height: currentHeight;
$border-radius: 7px;
$color-btn: #ffffff;


$bg-color-btn-main: linear-gradient(95.96deg, #A237A4 -12.48%, #4A154B 113.62%);
$bg-color-btn-secondary: linear-gradient(95.97deg, #FED337 -18.02%, #ECB22E 125.14%) ;
$bg-color-btn-third:  linear-gradient(95.97deg, #00BCF8 -18.02%, #015BA2 125.14%);
$bg-color-btn-warning: linear-gradient(95.23deg, #E8505B 19.09%, #E01E5A 75.92%);
$color-card: #4A154B;
$color-read-more: #963298;

$section-main-title-color: linear-gradient(94.49deg, #963298 -9.95%, #4A154B 98.19%);
$section-secondary-title-color: linear-gradient(95.97deg, #FED337 -18.02%, #ECB22E 125.14%);
//$color-main-background: #F2F2F2;


$border: 2px;
