<footer class="section-main section-footer">
    <div class="container">
    <div class="section-inner __section-footer">
        <div class="section-footer__info">
            <a class="section-footer__logo" href="#">
                <img src="assets/images/logo-white.svg" class="main-logo">
            </a>

            <span class="section-footer__text">We help people get access to Justice and assist them in every step
                in pursuing or settling their personal injury claims.</span>
        </div>
        <div class="section-footer__nav-links">
            <nav class="section-footer__nav">
                <h4 class="section-footer__title">Personal injuries</h4>
                <ul class="section-footer__list">
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">Road traffic accident</a>
                    </li>
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">Accident at work</a>
                    </li>
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">Accident in Public Places</a>
                    </li>
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">Medical Negligence</a>
                    </li>
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">Criminal Injuries</a>
                    </li>
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">Serious Injury</a>
                    </li>
                </ul>
            </nav>
            <nav class="section-footer__nav">
                <h4 class="section-footer__title">Information</h4>
                <ul class="section-footer__list">
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">Terms dictionary</a>
                    </li>
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">Terms and Conditions</a>
                    </li>
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">Privacy Policy</a>
                    </li>
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">Complaints Policy</a>
                    </li>

                </ul>
            </nav>
            <nav class="section-footer__nav">
                <h4 class="section-footer__title">Company</h4>
                <ul class="section-footer__list">
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">About Us</a>
                    </li>
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">Services</a>
                    </li>
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">Clients stories</a>
                    </li>
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">FAQ</a>
                    </li>
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">Blog</a>
                    </li>
                    <li class="section-footer__item">
                        <a href="#" class="section-footer__link">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="section-footer__policy-links">
            <a class="policy-link" href="#">Terms and Conditions</a>
            <a class="policy-link" href="#">Privacy Policy</a>
            <a class="policy-link" href="#">Complaints Policy</a>
        </div>

        <div class="social-list __section-footer-social">
            <ul class="social-list__list">
                <li class="social-list__item">
                    <a href="" class="social-list__link">
                        <img src="assets/images/fb-footer.svg" alt="facebook icon">
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="" class="social-list__link">
                        <img src="assets/images/youtube-white.svg" alt="youtube icon">
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="" class="social-list__link">
                        <img src="assets/images/inst-white.svg" alt="instagram icon">
                    </a>
                </li>
            </ul>
        </div>

    </div>
    </div>
    <div class="section-footer__rights-info">
        <div class="section-inner __rights-info-footer">
            <span class="footer-policy-text"> it happens  / Euronet Alliance Ltd – authorised and regulated by the Financial Conduct Authority in respect of regulated claims management activities. FRN: 832645.</span>
        </div>
    </div>
</footer>