<header class="section-header">
    <div class="container">
        <div class="section-inner __section-header">
            <div class="section-header-row section-header-row--top">
                <a class="main-logo-link __section-header-link" href="#"><img class="main-logo __section-header-logo" src="assets/images/logo.svg" alt="Main logo"></a>
<!--                <a class="main-logo-link __section-header-link-sticky" href="#"><img class="main-logo __section-header-logo" src="assets/images/main-logo-sticky-mobile.svg" alt="Main logo"></a>-->

<!--                <div class="wrapper __phone-picture-header __section-header-phone&#45;&#45;mobile">-->
<!--                    &lt;!&ndash;                        <i class="fas fa-phone-alt"></i>&ndash;&gt;-->
<!--                    <picture class="phone-picture">-->
<!--                        <img src="assets/images/phone.svg" alt="">-->
<!--                    </picture>-->
<!--                    <a href="tel:+012 12 86 86 86" class="contact-number __section-header-contact">012 12 86 86 86</a>-->
<!--                </div>-->


                <div class="social-list __section-header-social">
                    <ul class="social-list__list">
                        <li class="social-list__item">
                            <a href="" class="social-list__link">
                                <img src="assets/images/fb.svg" alt="facebook icon">
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="" class="social-list__link">
                                <img src="assets/images/youtube.svg" alt="youtube icon">
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="" class="social-list__link">
                                <img src="assets/images/inst.svg" alt="instagram icon">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="select--wrapper __section-header-lang __mobile">
<!--                    <div class="select __section-header-select">-->
<!--                        <select name="format" id="select">-->
<!--                            <option value="ru">RU</option>-->
<!--                            <option value="en">EN</option>-->
<!--                        </select>-->
<!--                    </div>-->

                    <div class="custom-select __section-header">
                        <select>
                            <option value="0">RU</option>
                            <option value="1">RU</option>
                            <option value="2">EN</option>


                        </select>
                    </div>

                </div>
                <div class="wrapper __phone-picture-header __tablet">
                    <!--                        <i class="fas fa-phone-alt"></i>-->
                    <picture class="phone-picture">
                        <img src="assets/images/phone.svg" alt="">
                    </picture>
                    <a href="tel:+012 12 86 86 86" class="contact-number __section-header-contact">012 12 86 86 86</a>
                </div>
                <div class="section-header__info ">
                    <div class="wrapper __phone-picture-header">
<!--                        <i class="fas fa-phone-alt"></i>-->
                        <picture class="phone-picture">
                            <img src="assets/images/phone.svg" alt="">
                        </picture>
                        <a href="tel:+012 12 86 86 86" class="contact-number __section-header-contact">012 12 86 86 86</a>
                    </div>
                    <a class="consult-button __section-header-consult" href="#">Получить консультацию</a>
                </div>

                <div class="hamburger-menu">
                    <input id="menu__toggle" type="checkbox" />
                    <label class="menu__btn menu__btn-header-mobile" for="menu__toggle">
                        <span></span>
                    </label>

                    <div class="menu__box">
                        <div class="menu__box-inner">
                            <ul class="menu__box-list">
                                <li><a class="menu__item" href="#">О нас</a></li>
                                <li><a class="menu__item" href="#">что случилось?</a></li>
                                <li><a class="menu__item" href="#">серьёзные травмы?</a></li>
                                <li><a class="menu__item" href="#">наши сервисы</a></li>
                                <li><a class="menu__item" href="#">истории клиентов</a></li>
                                <li><a class="menu__item" href="#">ваши вопросы</a></li>
                                <li><a class="menu__item" href="#">блог</a></li>
                                <li><a class="menu__item" href="#">наши контакты</a></li>
                            </ul>
                            <div class="social-list __section-header--mobile">
                                <ul class="social-list__list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <img src="assets/images/fb.svg" alt="facebook icon">
                                        </a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <img src="assets/images/youtube.svg" alt="youtube icon">
                                        </a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <img src="assets/images/inst.svg" alt="instagram icon">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                <div class="burger">-->
                <!--                    <span></span>-->
                <!--                </div>-->
                <!--            <a href="" class="btn-main">Закажите обратный звонок</a>-->

            </div>
            <div class="section-header-row section-header-row--bottom">
                <nav class="nav __section-header-nav">
                    <ul class="nav__list __section-header-nav">
                        <li class="nav__item">
                            <a href="#" class="nav__link current">Главная</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">О нас</a>

                        </li>
                        <li class="nav__item" id="nav__case">
                            <a href="#" class="nav__link">что случилось?</a>
                            <div class="drop-down-menu ">
                                <ul class="drop-down-menu__list">
                                    <li class="drop-down-menu__item ">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка2.svg" alt="car crash icon"><span class="drop-down-menu__text">Дорожно транспортное происшествие</span></a>
                                    </li>
                                    <li class="drop-down-menu__item">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка5.svg" alt=""><span class="drop-down-menu__text">Медицинская халатность</span></a>
                                    </li>
                                    <li class="drop-down-menu__item">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка3.svg" alt=""><span class="drop-down-menu__text">Происшествие на работе</span></a>
                                    </li>
                                    <li class="drop-down-menu__item">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка6.svg" alt=""><span class="drop-down-menu__text">Другие происшествия</span></a>
                                    </li>

                                    <li class="drop-down-menu__item">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка4.svg" alt=""><span class="drop-down-menu__text">Происшествие в публичном месте</span></a>
                                    </li>
                                    <li class="drop-down-menu__item">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка1.svg" alt=""><span class="drop-down-menu__text">Серьезные травмы</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">серьёзные травмы?</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">наши сервисы</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">истории клиентов</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">ваши вопросы</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">блог</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">наши контакты</a>
                        </li>
                    </ul>

                </nav>
<!--                <div class="wrapper ">-->
<!--                    <i class="fas fa-phone-alt"></i>-->
<!--                    <a href="tel:+012 12 86 86 86" class="contact-number __section-header-contact&#45;&#45;mobile">012 12 86 86 86</a>-->
<!--                </div>-->




                <div class="wrapper __phone-picture-header __section-header-phone--mobile">
                    <!--                        <i class="fas fa-phone-alt"></i>-->
                    <picture class="phone-picture">
                        <img src="assets/images/phone.svg" alt="">
                    </picture>
                    <a href="tel:+012 12 86 86 86" class="contact-number __section-header-contact">012 12 86 86 86</a>
                </div>
            </div>
        </div>
    </div>
</header>

<header class="header-sticky hidden-header">
    <div class="container">
        <div class="section-inner __section-header __header-sticky">
            <div class="section-header-row section-header-row--top __header-sticky">
                <a class="main-logo-link __section-header-link-sticky" href="#"><img class="main-logo __section-header-logo" src="assets/images/main-logo-sticky-mobile.svg" alt="Main logo"></a>

                <div class="social-list __section-header-social __header-sticky">
                    <ul class="social-list__list">
                        <li class="social-list__item">
                            <a href="" class="social-list__link">
                                <img src="assets/images/fb.svg" alt="facebook icon">
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="" class="social-list__link">
                                <img src="assets/images/youtube.svg" alt="youtube icon">
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="" class="social-list__link">
                                <img src="assets/images/inst.svg" alt="instagram icon">
                            </a>
                        </li>
                    </ul>
                </div>
                <nav class="nav __section-header-nav __header-sticky">
                    <ul class="nav__list __section-header-nav __header-sticky">
                        <li class="nav__item">
                            <a href="#" class="nav__link current">Главная</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">О нас</a>

                        </li>
                        <li class="nav__item" id="nav__case-sticky">
                            <a href="#" class="nav__link">что случилось?</a>
                            <div class="drop-down-menu ">
                                <ul class="drop-down-menu__list">
                                    <li class="drop-down-menu__item ">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка2.svg" alt="car crash icon"><span class="drop-down-menu__text">Дорожно транспортное происшествие</span></a>
                                    </li>
                                    <li class="drop-down-menu__item">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка5.svg" alt=""><span class="drop-down-menu__text">Медицинская халатность</span></a>
                                    </li>
                                    <li class="drop-down-menu__item">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка3.svg" alt=""><span class="drop-down-menu__text">Происшествие на работе</span></a>
                                    </li>
                                    <li class="drop-down-menu__item">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка6.svg" alt=""><span class="drop-down-menu__text">Другие происшествия</span></a>
                                    </li>

                                    <li class="drop-down-menu__item">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка4.svg" alt=""><span class="drop-down-menu__text">Происшествие в публичном месте</span></a>
                                    </li>
                                    <li class="drop-down-menu__item">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка1.svg" alt=""><span class="drop-down-menu__text">Серьезные травмы</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">серьёзные травмы?</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">наши сервисы</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">истории клиентов</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">ваши вопросы</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">блог</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">наши контакты</a>
                        </li>
                    </ul>

                </nav>

                <!--                <div class="select--wrapper __section-header-lang">-->
<!--                    &lt;!&ndash;                    <div class="select __section-header-select">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <select name="format" id="select">&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <option value="ru">RU</option>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <option value="en">EN</option>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        </select>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->

<!--                    <div class="custom-select __section-header">-->
<!--                        <select>-->
<!--                            <option value="0">RU</option>-->
<!--                            <option value="1">RU</option>-->
<!--                            <option value="2">EN</option>-->


<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->


<!--                <div class="wrapper __section-header-phone&#45;&#45;mobile">-->
<!--                    <i class="fas fa-phone-alt"></i>-->
<!--                    <a href="tel:+012 12 86 86 86" class="contact-number __section-header-contact&#45;&#45;mobile">012 12 86 86 86</a>-->
<!--                </div>-->
<!--                -->
                <div class="wrapper __phone-picture-header __header-sticky--desktop">
                    <!--                        <i class="fas fa-phone-alt"></i>-->
                    <picture class="phone-picture">
                        <img src="assets/images/phone.svg" alt="">
                    </picture>
                    <a href="tel:+012 12 86 86 86" class="contact-number __section-header-contact">012 12 86 86 86</a>
                </div>



                <div class="section-header__info __header-sticky">
                    <div class="wrapper __phone-picture-header __header-sticky--desktop">
                        <!--                        <i class="fas fa-phone-alt"></i>-->
                        <picture class="phone-picture">
                            <img src="assets/images/phone.svg" alt="">
                        </picture>
                        <a href="tel:+012 12 86 86 86" class="contact-number __section-header-contact">012 12 86 86 86</a>
                    </div>
                    <a class="consult-button __section-header-consult" href="#">Получить консультацию</a>
                </div>

                <div class="hamburger-menu">
                    <input id="menu__toggle-sticky" type="checkbox" />
                    <label class="menu__btn  menu__btn-sticky" for="menu__toggle-sticky">
                        <span></span>
                    </label>

                    <div class="menu__box">
                        <div class="menu__box-inner">
                            <ul class="menu__box-list">
                                <li><a class="menu__item" href="#">О нас</a></li>
                                <li><a class="menu__item" href="#">что случилось?</a></li>
                                <li><a class="menu__item" href="#">серьёзные травмы?</a></li>
                                <li><a class="menu__item" href="#">наши сервисы</a></li>
                                <li><a class="menu__item" href="#">истории клиентов</a></li>
                                <li><a class="menu__item" href="#">ваши вопросы</a></li>
                                <li><a class="menu__item" href="#">блог</a></li>
                                <li><a class="menu__item" href="#">наши контакты</a></li>
                            </ul>
                            <div class="social-list __section-header--mobile">
                                <ul class="social-list__list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <img src="assets/images/fb.svg" alt="facebook icon">
                                        </a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <img src="assets/images/youtube.svg" alt="youtube icon">
                                        </a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <img src="assets/images/inst.svg" alt="instagram icon">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                <div class="burger">-->
                <!--                    <span></span>-->
                <!--                </div>-->
                <!--            <a href="" class="btn-main">Закажите обратный звонок</a>-->

            </div>
            <div class="section-header-row section-header-row--bottom __header-sticky">
                <nav class="nav __section-header-nav">
                    <ul class="nav__list __section-header-nav">
                        <li class="nav__item">
                            <a href="#" class="nav__link current">Главная</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">О нас</a>

                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">что случилось?</a>
                            <div class="drop-down-menu ">
                                <ul class="drop-down-menu__list">
                                    <li class="drop-down-menu__item ">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка2.svg" alt="car crash icon"><span class="drop-down-menu__text">Дорожно транспортное происшествие</span></a>
                                    </li>
                                    <li class="drop-down-menu__item">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка5.svg" alt=""><span class="drop-down-menu__text">Медицинская халатность</span></a>
                                    </li>
                                    <li class="drop-down-menu__item">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка3.svg" alt=""><span class="drop-down-menu__text">Происшествие на работе</span></a>
                                    </li>
                                    <li class="drop-down-menu__item">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка6.svg" alt=""><span class="drop-down-menu__text">Другие происшествия</span></a>
                                    </li>

                                    <li class="drop-down-menu__item">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка4.svg" alt=""><span class="drop-down-menu__text">Происшествие в публичном месте</span></a>
                                    </li>
                                    <li class="drop-down-menu__item">
                                        <a href="#" class="drop-down-menu__link"><img class="drop-down-menu__img" src="assets/images/иконка1.svg" alt=""><span class="drop-down-menu__text">Серьезные травмы</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">серьёзные травмы?</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">наши сервисы</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">истории клиентов</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">ваши вопросы</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">блог</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">наши контакты</a>
                        </li>
                    </ul>

                </nav>

            </div>
        </div>
    </div>
</header>